/Playfinity Recorder.xcodeproj/project.xcworkspace/xcuserdata/stian.xcuserdatad/UserInterfaceState.xcuserstate
/Carthage/Checkouts
/Carthage/Build/.unbox.version
/Carthage/Build/iOS/2AAE0175-6D34-3777-ADB7-E955E97C1DEB.bcsymbolmap
/Carthage/Build/iOS/888099F4-FFF8-3B9E-B42B-C9F890571A4D.bcsymbolmap
/Carthage/Build/iOS/Unbox.framework.dSYM
